@import 'config/index';
@import 'blocks/index';

// wp_styles
@import 'wp/index';

// components
@import 'components/index';


.page {
    margin-bottom: 0;
    background-color: #F9FBFE;
}

* {
    transition: 100ms linear;
    
}

::selection {
    background-color: map-get($map: $colorMap, $key: "primary") !important;
    color: map-get($map: $colorMap, $key: "dark") !important;
}

::-moz-selection {
    background-color: map-get($map: $colorMap, $key: "primary") !important;
    color: map-get($map: $colorMap, $key: "dark") !important;
}