@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
* {
  font-family: 'Open Sans', sans-serif !important;
}

.font-alt {
  font-family: 'Playfair Display', serif !important;
}

h1, h2, h3, h4, h5, h6, ul.wp-block-latest-posts::before, .wp-block-categories::before, .wp-block-quote cite, .wp-block-pullquote blockquote cite strong, .wp-block-search .wp-block-search__label, .wp-block-media-text .wp-block-media-text__content .has-large-font-size {
  font-family: 'Playfair Display', serif !important;
}

.font-code {
  font-family: 'Nanum Gothic Coding', monospace !important;
}

.wp-block-code code {
  font-family: 'Nanum Gothic Coding', monospace !important;
}

p {
  line-height: 2;
  margin-bottom: 1.5rem;
}

h1 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
}

h2 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
}

h3 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
}

h4 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
}

h5 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
}

h6 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
}

ul:not([class]), ul.wp-block-categories-list, ul.wp-block-latest-posts {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

ul:not([class]) li, ul.wp-block-categories-list li, ul.wp-block-latest-posts li {
  padding: 0.5rem 0.25rem;
  display: block;
  position: relative;
  padding-left: 1.25rem;
}

ul:not([class]) li:after, ul.wp-block-categories-list li:after, ul.wp-block-latest-posts li:after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  background-color: dimgray;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

ul:not([class]) li:before, ul.wp-block-categories-list li:before, ul.wp-block-latest-posts li:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: gainsboro;
  left: 0.24rem;
  top: 0;
  bottom: 0;
}

ul:not([class]) li a, ul.wp-block-categories-list li a, ul.wp-block-latest-posts li a {
  text-decoration: none;
}

ul.wp-block-latest-posts {
  position: relative;
}

ul.wp-block-latest-posts::before {
  content: 'Latest';
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

.wp-block-categories {
  position: relative;
}

.wp-block-categories::before {
  content: 'Categories';
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

.wp-block-quote {
  border: transparent;
  position: relative;
}

.wp-block-quote:after {
  content: "";
  position: absolute;
  left: 0.24rem;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  background-color: gainsboro;
}

.wp-block-quote p {
  font-size: 1.75rem;
  text-align: center;
}

.wp-block-quote p:before, .wp-block-quote p:after {
  content: "\"";
  font-size: 3rem;
  color: gainsboro;
}

.wp-block-quote cite {
  display: block;
  text-align: right;
  padding: 0 2rem;
  font-size: 1rem;
}

.wp-block-quote cite:before {
  content: "-";
}

.wp-block-pullquote {
  border: transparent;
  margin: 2rem 0;
  position: relative;
}

.wp-block-pullquote:before, .wp-block-pullquote:after {
  content: "";
  position: absolute;
  border: solid thin gainsboro;
  width: 25%;
  height: 25%;
}

.wp-block-pullquote:before {
  left: 0;
  top: 0;
  border-right: none;
  border-bottom: none;
}

.wp-block-pullquote:after {
  right: 0;
  bottom: 0;
  border-left: none;
  border-top: none;
}

.wp-block-pullquote blockquote cite strong {
  font-size: 1rem;
  text-transform: capitalize;
  text-align: right;
  display: block;
  padding: 0 2rem;
  font-weight: normal;
}

.wp-block-pullquote blockquote cite strong:before {
  content: "-";
}

.wp-block-code {
  border-radius: 0;
}

.wp-block-code code {
  font-size: 1rem;
  letter-spacing: 2px;
}

.wp-block-preformatted {
  padding: 1rem;
}

.wp-block-table table {
  margin-bottom: 0;
}

.wp-block-table figcaption {
  display: block;
  text-align: right;
}

.wp-block-table figcaption:before {
  content: "[Source: ";
}

.wp-block-table figcaption:after {
  content: "]";
}

.wp-block-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wp-block-file {
  padding: 1rem;
  background: white;
  margin: 1rem 0;
  -webkit-box-shadow: #0003 0 0 3px 0;
          box-shadow: #0003 0 0 3px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wp-block-file a {
  text-decoration: none;
}

.wp-block-file .wp-block-file__button {
  color: white !important;
  margin: 0.5rem 0 0 0;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.wp-block-latest-comments {
  background-color: white;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: #0003 0 0 3px 0;
          box-shadow: #0003 0 0 3px 0;
}

.wp-block-latest-comments .wp-block-latest-comments__comment,
.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
  margin-bottom: 0;
}

.wp-block-search .wp-block-search__label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  display: block;
  text-align: center;
  font-weight: normal;
}

.wp-block-search .wp-block-search__inside-wrapper {
  background: white;
  border: solid thin lightgrey;
}

.wp-block-search .wp-block-search__inside-wrapper input, .wp-block-search .wp-block-search__inside-wrapper button {
  background-color: transparent;
  border-color: transparent;
  color: black;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.wp-block-search .wp-block-search__inside-wrapper input {
  padding: 0 0.5rem;
}

.wp-block-media-text .wp-block-media-text__content .has-large-font-size {
  text-transform: uppercase;
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.wp-block-cover-image.has-background-dim:not(.has-background-gradient):before, .wp-block-cover-image .wp-block-cover__gradient-background, .wp-block-cover.has-background-dim:not(.has-background-gradient):before, .wp-block-cover .wp-block-cover__gradient-background {
  display: none;
}

.wp-block-cover .wp-block-cover__inner-container {
  width: 100%;
  z-index: 1;
  color: #fff;
  background: #fffa;
  color: black;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 5rem;
  margin: 5rem;
  -webkit-box-shadow: #0003 0px 0px 3px 0px;
          box-shadow: #0003 0px 0px 3px 0px;
}

.wp-block-button .wp-block-button__link {
  color: white !important;
  border-radius: 0;
  margin: 0.25rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: lighter;
}

.nav-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-menu.nav-menu-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-menu .menu-item a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

.page {
  background-color: #f9f9f9;
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */