.site-header {

    .nav-menu {

        .menu-item {

            a {
                position: relative;
                display: block;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 0%;
                    margin: auto;
                    border-bottom: solid thin;
                    background-color: map-get($map: $colorMap, $key: "dark");
                    display: block;
                    transition: linear 100ms;
                }

                &:hover {

                    &::after {
                        width: 80%;
                    }
                }
            }
        }
    }
}