.hero {
    min-height: 50vh;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    margin-bottom: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .hero-content {
        display: inline-block;

        h2 {
            background-color: map-get($map: $colorMap, $key: "secondary") !important;
            color: map-get($map: $colorMap, $key: "dark") !important;
            padding: 0.5em;
        }
    }
}