a {
    color: #424242 !important;
}

a:hover {
    color: black !important;
}

.site {
    background-color: #F9FBFE;
}

.site-title a {
    text-decoration: none;
}

.site-title {
    margin: 0;
}

.site-header {
    background-color: #CDC7E5;
    position: sticky;
    top: 0;
    z-index: 100000;
}

.site-header .nav-link:not([href="#"]) {
    position: relative;
}

.site-header .nav-link:not([href="#"]):after {
    content: "";
    position: absolute;
    height: 0.1rem;
    width: 0%;
    bottom: 0;
    background-color: #888;
    left: 0;
    right: 0;
    margin: auto;
    transition: linear 100ms;
}

.site-header .nav-link:not([href="#"]):hover:after {
    width: 90%;
}

.site-header .nav-link[href="#"] {
    color: #bbb !important;
    cursor: not-allowed;
}

.site-footer {
    padding: 1rem 0 0.5rem;
    background: #CDC7E5;
    margin-top: 1rem;
}

.footer-link {
    text-decoration: none;
    position: relative;
}

.footer-link:after {
    content: "";
    position: absolute;
    height: 0.1rem;
    width: 0%;
    bottom: 0;
    background-color: #888;
    left: 0;
    right: 0;
    margin: auto;
    transition: linear 100ms;
}

.footer-link:hover:after {
    width: 25%;
}