@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif !important;
}

a {
    color: #424242 !important;
}

a:hover {
    color: black !important;
}

.font-alt {
    font-family: 'Playfair Display', serif !important;
}

.site-title a {
    text-decoration: none;
}