.wp-block-button {

    .wp-block-button__link {
        color: white !important;
        border-radius: 0;
        margin: 0.25rem 0;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: lighter;
    }
}