.wp-block-table {

    table {
        margin-bottom: 0;
    }

    figcaption {
        display: block;
        text-align: right;

        &:before {
            content: "[Source: ";
        }
        &:after {
            content: "]";
        }
    }
}